@model Department

<h1 class="alert alert-warning text-center">
    Edit Department
</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Departments" asp-action="EditCurrent">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id"/>

        <div>
            @*<label>@Html.DisplayNameFor(e=>e.Name)</label>*@
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            @*<label>@Html.DisplayNameFor(e=>e.Position)</label>*@
            <label asp-for="Description"></label>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

         <div>
            <button type="submit" class="btn btn-primary mt-1">Edit</button>
            <a asp-controller="Departments" asp-action="GetIndexView">Back to List</a>
        </div>
    </form>
</div>